body {
    font-family: Arial;
    margin: 0;
    background-color: lightgreen;
    color: #333;
}

header {
    background-color: #45b9c9;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover, nav a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

p1{
    font-size: 30px;
    color: #ffffff;
    text-decoration: underline;
}

p2{
     font-size: 30px;
     color: #ffffff;
     text-decoration: underline;
}

h1{
    color: darkgreen;
}

h2 {
    color: #ffffff;
}

.welcome p {
    line-height: 1.6;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0c420e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #043005;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}


